{
    "extends": "airbnb-base",
    "rules": {
      "no-use-before-define": ["error", { "variables": false }],
      "no-unused-vars": ["error", { "argsIgnorePattern": "next" }],
      "no-console": "off"
    }
}
